option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    DATABASE_URL: postgres://postgres:mkPassword12$@database-1.cj8yu6ygm10q.us-east-2.rds.amazonaws.com:5432/postgres
    PGHOST: database-1.cj8yu6ygm10q.us-east-2.rds.amazonaws.com
    PGUSER: postgres
    PGPASSWORD: mkPassword12$
    PGDATABASE: postgres
    PGPORT: 5432
